In [2]:
# Import Splinter and BeautifulSoup
from splinter import Browser
from bs4 import BeautifulSoup as soup
import pandas as pd

In [1]:
!pip install Flask-PyMongo

Collecting Flask-PyMongo
  Downloading Flask_PyMongo-2.3.0-py2.py3-none-any.whl (12 kB)
Requirement already satisfied: Flask>=0.11 in /opt/anaconda3/envs/PythonData/lib/python3.7/site-packages (from Flask-PyMongo) (1.1.2)
Collecting PyMongo>=3.3
  Using cached pymongo-3.10.1-cp37-cp37m-macosx_10_9_x86_64.whl (350 kB)
Requirement already satisfied: Werkzeug>=0.15 in /opt/anaconda3/envs/PythonData/lib/python3.7/site-packages (from Flask>=0.11->Flask-PyMongo) (1.0.1)
Requirement already satisfied: Jinja2>=2.10.1 in /opt/anaconda3/envs/PythonData/lib/python3.7/site-packages (from Flask>=0.11->Flask-PyMongo) (2.11.2)
Requirement already satisfied: click>=5.1 in /opt/anaconda3/envs/PythonData/lib/python3.7/site-packages (from Flask>=0.11->Flask-PyMongo) (7.1.2)
Requirement already satisfied: itsdangerous>=0.24 in /opt/anaconda3/envs/PythonData/lib/python3.7/site-packages (from Flask>=0.11->Flask-PyMongo) (1.1.0)
Requirement already satisfied: MarkupSafe>=0.23 in /opt/anaconda3/envs/PythonData/lib/python3.7/site-packages (from Jinja2>=2.10.1->Flask>=0.11->Flask-PyMongo) (1.1.1)
Installing collected packages: PyMongo, Flask-PyMongo
Successfully installed Flask-PyMongo-2.3.0 PyMongo-3.10.1

In [3]:
# Set the executable path and initialize the chrome browser in splinter
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path)

In [4]:
# Visit the mars nasa news site
url = 'https://mars.nasa.gov/news/'
browser.visit(url)
# Optional delay for loading the page One is that we’re searching for elements 
#with a specific combination of tag (ul and li) and attribute (item_list and slide, respectively)
browser.is_element_present_by_css("ul.item_list li.slide", wait_time=1)

True

In [5]:
html = browser.html
news_soup = soup(html, 'html.parser')
slide_elem = news_soup.select_one('ul.item_list li.slide')

In [6]:
#begin the scraping 
slide_elem.find("div", class_='content_title')
#the output should be an html containing the content title and anything nested
#inside of that <div />

In [7]:
# Use the parent element to find the first `a` tag and save it as `news_title`
news_title = slide_elem.find("div", class_='content_title').get_text()
news_title

'Join NASA for the Launch of the Mars 2020 Perseverance Rover'

In [ ]:
# Use the parent element to find the paragraph text
news_p = slide_elem.find('div', class_="article_teaser_body").get_text()
news_p

In [ ]:
browser.quit()

### Featured Images

In [9]:
# Visit URL
url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(url)

In [11]:
# Find and click the full image button
full_image_elem = browser.find_by_id('full_image')
full_image_elem.click()

In [12]:
# Find the more info button and click that has the provided text
browser.is_element_present_by_text('more info', wait_time=1)
more_info_elem = browser.links.find_by_partial_text('more info')
more_info_elem.click()

In [13]:
# Parse the resulting html with soup; conver to html to obtain full size image
html = browser.html
img_soup = soup(html, 'html.parser')

In [14]:
# Find the relative image url
img_url_rel = img_soup.select_one('figure.lede a img').get("src")
img_url_rel

'/spaceimages/images/largesize/PIA19113_hires.jpg'

In [15]:
# Use the base URL to create an absolute URL
img_url = f'https://www.jpl.nasa.gov{img_url_rel}'
img_url

'https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA19113_hires.jpg'

In [17]:
#read_html() searches and returns a list of tables
df = pd.read_html('http://space-facts.com/mars/')[0]
df.columns=['description', 'value']
df.set_index('description', inplace=True)
df

                                              value
description
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [18]:
df.to_html()

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>value</th>\n    </tr>\n    <tr>\n      <th>description</th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Equatorial Diameter:</th>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>Polar Diameter:</th>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>Orbit Distance:</th>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>Orbit Period:</th>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>Surface Temperature:</th>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>First Record:</th>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>Recorded By:</th>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [19]:
browser.quit()